

@bg-path: "logo-pink-white-mobile.svg";
@bg-color: #283645;

.page-header {
	background-color: @bg-color;
}

.page-header__logo {
	display: flex;
}

.page-header__logo-image {
	background: url(@bg-path) no-repeat;
}

.page-header__button {
	
}