
@bg-margin: 0px;
@bg-padding: 0px;
@font-family: "Open Sans", "Arial", sans-serif;
@font-size: 18px;
@color-font: #ffffff; 

.site-list {
	margin: @bg-margin;
	padding: @bg-padding;
}

.site-list__item {
	@padding-item-top: 25px;
	@padding-item-btm: 25px;
	@transform: uppercase;
	@align: center;


	padding-top: @padding-item-top;
	padding-bottom: @padding-item-btm;
	font-family: @font-family;
  font-size: @font-size;
  color: @color-font;
  text-transform: @transform;
  align-items: @align;
}