

body {
	height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
	height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

main {
	
}

.page-main {

}

div {
	
}

.logo-pink {
	
}

h2 {
	font-weight: bold;

}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

p {

}

.access {

}

.zag {

}

.stand {

}

.price-stan {

}

a {
  text-decoration: none;
}

ul {
	margin: 0px;
	padding: 0px;
}

.os-choice {

}

.filter-progress {

}

li {
	list-style: none;
}

img {
	max-width: 100%;
  height: auto;
}

.phone-img {
	background-image: url("..source/img/bg-back-mobile@1x.jpg");
}

.iphone-hi {

}

.logo {
	
}

.photos-edit {

}

table {

}

.tabl-tariffs {

}

td {

}

.td-standard {

}

.td-pink {

}

.td-smile {

}

.td-comment {

}

tr {

}

time {

}


