

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}

header {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

main {

}

a {
    text-decoration: none;
    outline: none;
}

div {

}

.logo-pink {

}

h2 {
    font-weight: bold;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

p {

}

.access {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    margin-top: 27px;
    padding-bottom: 36px;
}

.zag {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #283645;
    margin-bottom: 20px;
}

.text {
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: #283645;
    text-align: center;
    margin-bottom: 40px;
}

.stand {

}

.price-stan {

}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.os-choice {

}

.filter-progress {

}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.photo-users {
    margin-bottom: 27px;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    min-height: 400px;
}

.phone-img {
    background-image: url("../source/img/bg-back-mobile@1x.jpg");
}

.img-iphone {
    min-height: 277px;
    margin-top: 45px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
}

.logo {

}

.photos-edit {

}

.tariffs {
    margin-top: 134px;
}

table {

}

.tabl-tariffs {
    width: 100%;
    background-color: #ffffff;
}

td {

}

.td-standard {
    background-color: #283645;
}

.stand {
   font-size: 18px;
   font-weight: bold;
   color: #ffffff;
   text-transform: uppercase;
   text-align: center;
}

.price-stan {
    font-size: 24px;
    font-weight: lighter;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.td-pink {
    font-weight: normal;
    text-transform: uppercase;
    color: #283645;
    text-align: left;
}

.td-pink::before {

}

.td-smile {
    font-weight: normal;
    text-transform: uppercase;
    color: #283645;
    text-align: left;
}

.td-comment {
    font-weight: normal;
    text-transform: uppercase;
    color: #283645;
    text-align: left;
}

tr {

}

time {

}

.reviews-toggles {
    border-radius: 50%;
}